@import '../../utils/variables.scss';

.page {
  min-height: 100vh;
  background-color: var(--color-light-black);
  font-family: Inter, Arial, sans-serif;
  box-sizing: border-box;
  color: var(--color-white);
  position: relative;
}