@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.header {
  &_page {
    &_main {
      background-color: var(--color-dark-blue);
    }

    &_other {
      background-color: transparent;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width-header-footer);
    margin: 0 auto;
    min-height: 74px;
  }

  &__link {
    @include reset-link;
    @include transition;

    &:hover {
      opacity: .8;
    }
  }
}