@mixin reset-link {
  text-decoration: none;
  color: inherit;
}

@mixin reset-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

@mixin transition {
  transition: all .4s ease;
}